<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Example 1: Analazying the Citations of a Paper.</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <iframe class="col-sm-12" height="350" frameborder="0" wmode="Opaque" allowfullscreen="" src="https://www.youtube.com/embed/bG9qYv5mvU0"/>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Example 2: Analyzing a paper citations' distribution along the years.</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
	  <iframe class="col-sm-12" height="450" frameborder="0" wmode="Opaque" allowfullscreen="" src="https://www.youtube.com/embed/ipgue99RZcw"/>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">		  
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Example 3: Multicriteria refinements.</a>
      </h4>
    </div>	
    <div id="collapse3" class="panel-collapse collapse">
		<iframe class="col-sm-12" height="350" frameborder="0" wmode="Opaque" allowfullscreen="" src="https://www.youtube.com/embed/rF4yexEAnI8"/>
	</div>
  </div>
</div>

