

<% content_for :extension_view do %>
	<div class="row extension_view" id = "grid"> 
		
	  <div class="column">
	    <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:100%">
	    <img src="https://www.w3schools.com/w3images/rocks.jpg" style="width:100%">
	    <img src="https://www.w3schools.com/w3images/falls2.jpg" style="width:100%">
	    <img src="https://www.w3schools.com/w3images/paris.jpg" style="width:100%">
	    <img src="https://www.w3schools.com/w3images/nature.jpg" style="width:100%">
	    <img src="https://www.w3schools.com/w3images/mist.jpg" style="width:100%">
	    <img src="https://www.w3schools.com/w3images/paris.jpg" style="width:100%">
	  </div>
	  <div class="column">
	    <img src="https://www.w3schools.com/w3images/underwater.jpg" style="width:100%">
	    <img src="https://www.w3schools.com/w3images/ocean.jpg" style="width:100%">
	    <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:100%">
	    <img src="https://www.w3schools.com/w3images/mountainskies.jpg" style="width:100%">
	    <img src="https://www.w3schools.com/w3images/rocks.jpg" style="width:100%">
	    <img src="https://www.w3schools.com/w3images/underwater.jpg" style="width:100%">
	  </div>  
	  <div class="column">
	    <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:100%">
	    <img src="https://www.w3schools.com/w3images/rocks.jpg" style="width:100%">
	    <img src="https://www.w3schools.com/w3images/falls2.jpg" style="width:100%">
	    <img src="https://www.w3schools.com/w3images/paris.jpg" style="width:100%">
	    <img src="https://www.w3schools.com/w3images/nature.jpg" style="width:100%">
	    <img src="https://www.w3schools.com/w3images/mist.jpg" style="width:100%">
	    <img src="https://www.w3schools.com/w3images/paris.jpg" style="width:100%">
	  </div>
	  <div class="column">
	    <img src="https://www.w3schools.com/w3images/underwater.jpg" style="width:100%">
	    <img src="https://www.w3schools.com/w3images/ocean.jpg" style="width:100%">
	    <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:100%">
	    <img src="https://www.w3schools.com/w3images/mountainskies.jpg" style="width:100%">
	    <img src="https://www.w3schools.com/w3images/rocks.jpg" style="width:100%">
	    <img src="https://www.w3schools.com/w3images/underwater.jpg" style="width:100%">
	  </div>
	</div>
<% end %>
<%= render :partial => 'session/set_template'%>