
			<select id = "ranking_function_select" onchange="ranking_function_selected(this.value)">
			  <option value="image_count">Related Elements Count</option>
			  <option value="sort">Sort</option>
			</select>		


		<div class ='_setparameter' id = 'target_set' exp = "P" onclick="setParameter(this)">
		    <span class="tool">Select Values<span class="tip">Press to select a value to filter</span></span>
		</div>
		
<script>
		$("#target_set").hide();

		function ranking_function_selected(ranking_function) {
			parameters.put('ranking_function', ranking_function);
			
			if(ranking_function === 'image_count'){
				$("#target_set").show();
			} 
		}
</script>

