<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Description</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">The Group function allows you to create groups of items according to the grouping criteria selected</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Example 1: Grouping over schema relations</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
	  <img src="/images/help/group1.png" alt="rss feed" />
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">		  
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Example 2: Grouping over related items</a>
      </h4>
    </div>	
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">You can also group items by a related set in the workspace:</div>
	  <img src="/images/help/group2.png" alt="rss feed" />
	  <div class="panel-body">The result set has the following format</div>
	  <img src="/images/help/group_rs.png" alt="rss feed" />
	</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
        Example 3: Group by Domain Set</a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">This option allows you to group a result set by the elements of the input set that generated it in previous excutions.</div>
	  
    </div>
  </div>
</div>