    <div class = " _WINDOW  select">
        <div class ="expand _NO_MINIMIZE">
            <div class ='_collapseproperties' style="float:left;">
                <span class="tool">-<span class="tip">Hide all properties values.</span></span>
            </div>
            <div class= "_expandproperties" style="float:left;">
                <span class="tool">+ <span class="tip">Show the resource properties values</span></span>
            </div>
        </div>    				

        <div class = " properties">
            <a class ="all" exp="('<%= resource %>',:p,:o)">More ...</a>
        </div>
    </div>
    <br> 
  
