<div class="modal fade" id="list_profiles_modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="overflow: auto; width: 900px">
            <div class="modal-header">
                <h4 class="modal-title"><%=t :view_profile_config%></h4>
            </div>


            <div class="modal-body">
                
                <ul class="list-group">
                </ul>
            </div>			

            <div class="modal-footer">
                <button type="button" id="new_profile_btn" class="exec btn btn-default" <%=t :new_profile%></button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
<!-- /.modal-dialog -->
</div>