<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"> 
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Description</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">The map function can be used to aggregate exploration items onto numerical values and apply transformations.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Example 1: Counting items</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
	  <img src="/images/help/map1.png" alt="rss feed" />
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Example 2: Mapping groups onto group counts</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
	    <div class="panel-body">When a set is grouped, the mapping function is calculated for each group individually. The following image illustrates the result set of a mapping function over a grouped set.</div>
	  	<img src="/images/help/map2.png" alt="rss feed" />
	    <div class="panel-body">The result set of a map function over a grouped set is the following:</div>
	    <img src="/images/help/map2_rs.png" alt="rss feed" />
	  
	</div>
	
  </div>

  
  
</div>