<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Description</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">Pivoting allows you to add a set of related items to the workspace by selecting a relation or a relation path.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Example 1: Pivoting through single Relations</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">To generate the set of related items you must check the deired relation and click "Go"</div>
	  <img src="/images/help/pivot.png" alt="rss feed" />
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Example 2: Pivoting through Relation Paths</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">You can also pivot through relation paths, i.e., relations of the related items many steps ahead of the selected input set.</div>
	  <img src="/images/help/pivot_path.png" alt="rss feed" />
    </div>
  </div>
</div>