<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Description</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">Rank allows you to reorder the items in the result set according with the ranking criteria selected</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Example 1: Natural Sort</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
		<div class="panel-body">Select the "Sort" option to rank by alphabetical or numerical order</div>
		<img src="/images/help/rank1.png" alt="rss feed" />
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Example 2: Ranking over Schema Relations</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
		<div class="panel-body">Select the "By schema relation" to rank by the values of a relation or relation path</div>
		<img src="/images/help/rank2.png" alt="rss feed" />
	</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
        Example 3: Ranking Grouped Sets</a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
		<div class="panel-body">Select the "By Nested Items" option to rank the items by the numerical value with the items' folder</div>
		<img src="/images/help/rank3.png" alt="rss feed" />
    </div>
  </div>
</div>