<div class="_WINDOW window _draggable hideable select set" id = "DefaultSetWidget" exp = "" title="">
     <div class= "tranparentpanel" >
        <img src = "/images/loading_big.gif" style="position:absolute; top : 50%;left:43% "/>
    </div>
	<% @style_s = ' style = "background-color:white;" '%>
	    
	<%= render :partial => 'layouts/windowheader_template'%>
	<!--  TODO refactor the selection behavior and remove the "no_set_select" class-->	
	<div class="search-div no_set_select">
		<input class="search-input form-control" style="width: 100%;">
	</div>
	<%if @set.is_a?(Xplain::RemoteSet) && @set && !@set.fetched%>
		 	
		
	  <button class="btn btn-primary btn-lg btn-block" type="button" id="load_ext">
	    Click Here to Load the Items!
	  </button>
  	
  	<%end%>

	<div class = "_items_area">

		
		<%= yield :extension_view %>
		
	</div>
	
	<div class="no_set_select" style="position: absolute; width: 335px; margin: 0;bottom: 0px;">
		<div class="pagination_div">
		    <ul class="pagination">
		      <li class="page-item">
		        <a class="page-link" aria-label="Previous">
		          <span aria-hidden="true">&laquo;</span>
		          <span class="sr-only">Previous</span>
		        </a>
		      </li>
		      <li class="page-item"><a class="page-link" >1</a></li>
		      <li class="page-item">
		        <a class="page-link" aria-label="Next">
		          <span aria-hidden="true">&raquo;</span>
		          <span class="sr-only">Next</span>
		        </a>
		      </li>
		    </ul>
		</div>
	</div>
	
</div>

