<div class="_WINDOW window _draggable select set" id = "setViewTemplate" exp = "">
     <div class= "tranparentpanel" >
        <img src = "/images/loading_big.gif" style="position:absolute; top : 50%;left:43% "/>
    </div>
	<% @style_s = ' style = "background-color:white;" '

    resources =  resources_paginated() 

%>
	    
	<%= render :partial => 'layouts/windowheader_template'%>
	
	<div class="search-div">
		<input class="search-input form-control" style="width: 100%;">
	</div>

	<div class = "_items_area">
	</div>
	
	<ul class="pagination">
	  <li><a >1</a></li>
	</ul>
	
</div>

