<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Description</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">To apply a set operation you have to select the first set, click the set operation, select the second set and click the "=" button:</div>
	  <img src="/images/help/intersect1.png" alt="rss feed" />
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Union</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
	  <div class="panel-body">Select the union operation to unite the sets. In case of a grouped set, the union is carried out for each group individually. </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Intersection</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">Select the intersection to keep the items that appears in both sets. In case of a grouped set, the intersection will be carried out for each group.</div>
	  
	</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
        Difference</a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">Select the difference operation to keep the items that appear in the first set that do not appear in the second. In case of a grouped set, the difference will be carried out for each group individually.</div>
	  
    </div>
  </div>
</div>