<div class = "resource select _WINDOW _draggable objects" exp="">
    <div class = " _draggable  <%=css(o)%> select object " resource="" exp="" title="">
		Replace for real value content after cloning
    </div>
</div>


