<div class = "landmarks">
    <div class="btn-group">
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
      <%=t :main_menu%> <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
  		<li><a id = "all_types"  >All Data Types</a></li>
  		<li><a id = "all_relations" >All Relations</a></li>
		<div class="dropdown-divider"></div>
  		<li><a onclick = "XPLAIN.activeWorkspaceWidget.new_session()">New Session</a></li>
  		<li><a onclick = "XPLAIN.activeWorkspaceWidget.save_session()">Save Session</a></li>
  		<li><a onclick = "XPLAIN.activeWorkspaceWidget.save_session_as()">Save Session as</a></li>
  		<li><a onclick = "XPLAIN.activeWorkspaceWidget.list_sessions()">Load Session</a></li>
  		<li><a onclick = "XPLAIN.activeWorkspaceWidget.close_session()">Close Session</a></li>
		<div class="dropdown-divider"></div>
  		<li><a onclick = "XPLAIN.activeWorkspaceWidget.setup_and_show_endpoint_modal()">Change Endpoint</a></li>
  		<li><a onclick = "XPLAIN.activeWorkspaceWidget.setup_and_show_namespaces_modal()">Namespaces</a></li>
		<li><a  onclick ="$('#graph_view').show()">Show Graph View</a></li>
		<li><a  onclick ="XPLAIN.AjaxHelper.get('/help/index')">Help</a></li>
      </ul>
    </div>
    <%= render :partial => '/layouts/toolbar' %>

	&nbsp;
</div>
