<div class = "landmarks">
    <div class="btn-group">
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
      Main Menu <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
  		<li class="dropdown-header">Starting Points</li>
  		<li><a id = "all_types"  >All Data Types</a></li>
  		<li><a id = "all_relations" >All Relations</a></li>
      </ul>
    </div>

	
    <!-- <div id="mainmenu">
        <ul>
            <li>
                <h2>MENU &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<img class="arrow" src="/images/arrow_video_down_white_2.png" width="13" height="13"></h2>
                <ul>
                    <div>
                        <a onclick ="ajax_request('/repository/index')">Repositories</a>
                    </div>

                    <div>
                        <a id = "items" class = "_new" exp= "Xset.load('default')">All Items</a>
                    </div>

                    <div>
                        <a id = "Types" class = "_new" onclick="ajax_request('session/all_types')">All Types</a>
                    </div>
                    <div>
                        <a id = "Relations" class = "_new" onclick= "ajax_request('session/all_relations')">All Relations</a>
                    </div>
                    <div>
                        <a onclick ="$('qcontainer').show()">Query</a>
                    </div>
					 <div>
                        <a href="/application/reset">Reset Session</a>
                    </div>
					  <div>
                        <a onclick ="ajax_request('/application/index')">Sessions</a>
                    </div>
					 <div>
                        <a onclick ="ajax_request('/css/')">CSS</a>
                    </div>
                    <div>
                        <a href = "http://www.tecweb.inf.puc-rio.br/explorator/" target = "_blank">Help</a>
                    </div>
                </ul>
            </li>
        </ul>
    </div> -->
    <%= render :partial => '/layouts/toolbar' %>

	&nbsp;
</div>
