<div class= "header">
    <form id = "id_form_keyword">
        <table width=98%>
            <tr>
                <td width=1%>
                    <a href = "http://www.tecweb.inf.puc-rio.br" target="_blank"><img class ="tecweb" border ='0' src = "/images/LogoTecWebSmall.png"/></a>
                </td>
                <td width=97%>
                    <input id='seachbykeyword' type=="text" value ="" name= "value"/>
                </td>
                <td width=1%>
                    <input id="load" type="button" title = "It dereferences the supplied URI" value="&nbsp; URI Deref. &nbsp;">
                </td>
                <td width=1%>
                    <input id="search" type="button" title= "Search in all enabled sparql endpoint for keyword or uri" value="&nbsp; Search &nbsp;">
                </td>
            </tr>
        </table>
    </form>
</div>
