<style>
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
</style>
<div class="btn-group">
	
	<div class="btn-group">&nbsp&nbsp</div>
	
	<button type="button" id="A" exp="A" operation="union" class="_union btn btn-primary pull-left operation">&cup;</button>
	<button type="button" id="A" exp="A" operation="intersect" class="_intersection btn btn-primary operation">&cap;</button>
	<button type="button" id="A" exp="A" operation="diff" class="_difference operation btn btn-primary">-</button>

	<div class="btn-group">&nbsp&nbsp</div>
	
    <div class="btn-group">
      <button type="button" id="A" exp="A" operation="rank" class="_rank operation btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Rank</button>
	  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
	      <span class="caret"></span>
	  </button>	  
      <ul class="dropdown-menu" role="menu">
  		<li class="dropdown-header">Ranking Function</li>
  		<li>
			<div class="radio">
			  <label><input type="radio" name="rankradio" class="param" param="ranking_function" param_value="by_relation">By Relations</label>
			</div>
		</li>
  		<li>
			<div class="radio">
			  <label><input type="radio" class="param" param="ranking_function" param_value="alpha_rank" name="rankradio">Sort</label>
			</div>			
		</li>
		<li role="separator" class="divider"></li>
		<li class="dropdown-header">Ordering</li>
 		<li>
   			<div class="radio keep_opened">
   			  <label><input type="radio" name="order" class="param" param="order" param_value="ASC" >Ascending</label>
   			</div>
   		</li>
 		<li>
   			<div class="radio">
   			  <label><input type="radio" name="order" class="param" param="order" param_value="DESC" checked = "true" >Descending</label>
   			</div>			
   		</li>
		
      </ul>
    </div>
	<div class="btn-group">&nbsp&nbsp</div>
	
    <div class="btn-group" id="pivot_group">
      <button type="button" id="A" exp="A" operation="pivot" class="_pivot operation btn btn-primary">Pivot</button>
	  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
	      <span class="caret"></span>
	  </button>
      <ul class="dropdown-menu" role="menu">
  		<li><li><a id="define_path" >Define Path</a></li></li>
      </ul>	  
    </div>
	
	<div class="btn-group">&nbsp&nbsp</div>
	
    <div class="btn-group">
      <button type="button" id="A" exp="A" operation="group" class="_group operation btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Group</button>
	  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
	      <span class="caret"></span>
	  </button>	  
      <ul class="dropdown-menu" role="menu">
  		<li class="dropdown-header">Grouping Criteria</li>
  		<li>
			<div class="radio">
			  <label><input type="radio" name="groupradio" class="param" param="groupingFunction" param_value="by_relation">By Relation</label>
			</div>
		</li>
  		<li>
			<div class="radio">
			  <label><input type="radio" class="param" param="groupingFunction" param_value="cluster" name="groupradio">Clustering</label>
			</div>			
		</li>
      </ul>
    </div>
	
	<div class="btn-group">&nbsp&nbsp</div>	
	
	<div class="btn-group">
      <button type="button" id="A" exp="A" operation="map" class="_map operation btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Map</button>
	  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
	      <span class="caret"></span>
	  </button>	  
      <ul class="dropdown-menu" role="menu">
  		<li class="dropdown-header">Select Function</li>
  		<li>
			<div class="radio keep_opened">
			  <label><input type="radio" name="mapradio" class="param" param="mapFunction" param_value="avg">Average</label>
			</div>
		</li>
  		<li>
			<div class="radio">
			  <label><input type="radio" class="param" param="mapFunction" param_value="count" name="mapradio">Count</label>
			</div>			
		</li>
  		<li>
			<div class="radio">
			  <label><input type="radio" class="param" param="mapFunction" param_value="image_count" name="mapradio">Count Relations</label>
			</div>			
		</li>
		
      </ul>
	</div>
	
	<div class="btn-group">&nbsp&nbsp</div>
	
	<div class="btn-group">
		<button type="button"  id="A" exp="A" operation="refine" class="_refine operation btn btn-primary">
		Filter</button>
  	  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
  	      <span class="caret"></span>
  	  </button>
	  <ul class="dropdown-menu">
	       <li>			   
			   <a id="facetedRefine" tabindex="-1" >Faceted Refine</a>
		   </li>
		   
	       <li class="dropdown-submenu">
	         <a class="test" tabindex="-1" >Select Filter <span class="caret"></span></a>
	         <ul class="dropdown-menu">				 
	           <li>
				<div class="radio">
				  <label><input type="radio" name="filterradio" class="param" param="filter" param_value="equals">Equals</label>
				</div>	           	
	           </li>
	           <li>
				<div class="radio">
				  <label><input type="radio" name="filterradio" class="param" param="filter" param_value="keyword_match">Keyword Match</label>
				</div>	           	
	           </li>
	           <li>
				<div class="radio">
				  <label><input type="radio" name="filterradio" class="param" param="filter" param_value="contains_one">Contains</label>
				</div>	           	
	           </li>			   
	         </ul>
	       </li>

			   <!-- <a class="test" tabindex="-1" >Connector<span class="caret"></span></a>
			   <ul class="dropdown-menu"> -->
		   		<li role="separator" class="divider"></li>
		   		<li class="dropdown-header">Connector</li>
		 		<li>
		   			<div class="radio">
		   			  <label><input type="radio" name="conn" class="param" param="connector" param_value="AND" checked = "true" >AND</label>
		   			</div>			
		   		</li>
		 		<li>
		   			<div class="radio">
		   			  <label><input type="radio" name="conn" class="param" param="connector" param_value="OR" >OR</label>
		   			</div>
		   		</li>
				
				
				<!-- </ul>
			</li> -->
	     </ul>
	</div>
	
	<div class="btn-group">&nbsp&nbsp</div>	
	
	<div class="btn-group">
      <button type="button" id="A" exp="A" operation="flatten" class="_map operation btn btn-primary" data-toggle="dropdown">
      Flatten</button>
	</div>
	
</div>

<button type="button" id="equal" class="_equal btn btn-default ">=</button>
<button type="button" id ="clear" class="_clear btn btn-default">Clear</button>