<div class ='windowheader _NO_MINIMIZE' style="width: 100%;">
    <div id = "windowtitlemin" class="windowtitle" style="width: 93%;">
        <font id="titlemin" style='float: left; font-size:12px;font-weight:normal'>
            
        </font>		
    </div>
	
    <div id = "windowtitlemax" class="windowtitle" style="width: 93%;">
        <font id="size" style='float: left; font-size:11px;font-weight:normal'>
            
        </font>
		<div class="btn-group" style="margin-left: 5px; float: left;">
			<button type="button"  id="visualize" exp="A" operation="refine" class="_refine operation btn-xs btn-primary dropdown-toggle" data-toggle="dropdown">V</button>
	         <ul id = "properties" class="dropdown-menu">

	         </ul>

		</div>
		
    </div>

    <div class=' winoperations '>        
	 
		
		 <div class ='_hide'>
                       <div>
                        <span class="tool"> &nbsp;<span class="tip">Minimize the window.</span></span></div>
        </div>
        <div class ='_show'>
           <div>
                        <span class="tool"> &nbsp;<span class="tip">Maximize the window.</span></span></div>
        </div>
        <div class ='_remove'>
            X
        </div>
        &nbsp;
    </div>
    &nbsp;
	
</div>
<div class ='windowheader _NO_MINIMIZE' id='resname'>
	<div class="windowtitle"> 	
	    <div id="set_title"></div>
	</div> &nbsp;	
</div>
