<div class="modal fade" id="rankModal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="overflow: auto; width: 900px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title">Ranking Strategy</h4>
				 
            </div>

            <div class="modal-body">
				 <div class="form-group position">
					 <label>Set Level</label>
 	 				 <div class="radio">
					   <label><input type="radio" id="domain" class = "param position_radio_input" param = "position" param_value = "2"><span>Level 1</span></label>
					 </div>
				 </div>
					 					 
				 
				 <div class="form-group" >
					 <label>Rank By</label>
					 <div class="radio">
					   <label><input type="radio" id = "alpha_rank" class = "param" param = "ranking_function" param_value = "alpha_rank" name="radio_strategy" checked>Alpha</label>
					 </div>
					 <div class="radio">
					   <label><input type="radio" class="relation_tree_activator param" id="relation_radio" param = "ranking_function" param_value = "by_image" name="radio_strategy">Related Value</label>
					 </div>
					 <div class="radio">
					   <label><input type="radio" id = "by_level" class = "param" param = "ranking_function" param_value = "by_level" name="radio_strategy">Last Level</label>
					 </div>
				 </div>
				 
				<div class = "relation_area form-group">
				</div>

				 <div class="form-group" id="rank_order">
					 <div class="radio">
					   <label><input type="radio" id="asc" class="param" param="order" param_value="ASC" name="order" checked>ASC</label>
					 </div>
					 <div class="radio">
					   <label><input type="radio" id="desc" class="param" param="order" param_value="DESC" name="order">DESC</label>
					 </div>
				 </div>
				 
 				<form class="form-horizontal">
					 <div class="form-group">
						 <div class="checkbox col-sm-12">
						   <label><input type="checkbox" class="param" id="preview">Show Scores Preview</label>
						 </div>
					 </div>

					  <div class="form-group">
					    <label class="control-label col-sm-2" for="pwd">Values Preview</label>
					    <div class="col-sm-10"> 
						   <select class="form-control values_select">
						     <option value="sm"><a>Ranking Values</a></option>
						   </select>
					    </div>
					  </div>
				</form>
				<div class="help" id = "rank_help">
				</div>
			</div>					
				
 		   <div class="modal-footer">
 		       <button type="button" id="exec" class="exec btn btn-default" data-dismiss="modal">Go</button>
			   <button type="button" id="clear" class="clear btn btn-default" data-dismiss="modal">Clear</button>
			   <button type="button" id="rank_help_btn" class="btn btn-default help_btn" operation="rank">Help</button>
 	       </div>
				
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
